// primary styles 

$black: #000;
$white: #fff;

// Grays
$darkGray: #666666;
$lightGray: #999999;
$veryLightGray: #f1f3f4;
$lightestGray: #f8f8f8;
$borderGray: #ececec;

// Brand Colors
$cleanHappyBlue: #1ae8fa;
$orange: #fa9d1c;
$shopPink: #ff3366;
$aboutPurple: #9e76b5;
$beyondGreen: #c3d32d;

// More Colors!!!
$red: #f16c70;
$teal: #00dbe0;
$secondayBlue: #00dbe0;
$activeNavBlue: #51E7FF;
$secondaryPink: #ff6c6d;
$yellow: #ffd700;
$yellowGreen: #cfdd26;
$secondaryGreen: #8cc63f;
$secondaryPurple: #b641b4;
$shopSecondGreen: #4dc620;
$shopSecondBlue: #2c90ef;