//Homepage colors

.home_section {
	@include span-columns(12);

	.home_hero_tab {
		min-height: 540px;
		height: 580px;
		
		@include media($tablet) {
			min-height: 460px;
			height: 460px;
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		@include media($mobile) {
			min-height: 180px;
			height: 180px;
			margin-bottom: 20px;
		}
	}

	.home_hero {
		background-position: left 55% top;
		overflow: hidden;
		
		@include media($mobile) {
			@include span-columns(4);
		}
		
		.container {
			position: relative;
			height: 100%;
		}
	
		.home_hero_content {
			@include span-columns(12);
			padding: 40px 0 100px;
			display: inline-block;
			
			@include media($mobile) {
				padding: 0px 0 40px;
			}
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			
			img {
				@include span-columns(6);
				@include shift(3);
				float: none;
				vertical-align: middle;
				display: none;
				
				@include media($tablet) {
					@include span-columns(3.8);
					@include shift(0.5);
					float: none;
					vertical-align: middle;
					display: none;
				}
				
				@include media($mobile) {
					@include span-columns(2);
					@include shift(0);
					float: none;
					vertical-align: middle;
					display: none;
				}
			}
			
			.hero_text {
				/*position: absolute;
				top: 35%;
				margin-top: -41px;*/
				/* @include span-columns(4.8);
				@include shift(1); removed for holidays */
				float: none;
				vertical-align: middle;
				margin-right: 0;
				display: none;
				opacity: 0;
				
				@include media($tablet) {
					@include span-columns(3.5);
					@include shift(0);
					float: none;
					vertical-align: middle;
					display: none;
				}
				
				@include media($mobile) {
					@include span-columns(1.9);
					@include shift(0);
					margin-right: 0;
					//@include shift(2);
					text-align: left;
					position: relative;
					top: 30%;
					float: none;
					vertical-align: middle;
					display: none;
				}
				
				h1 {
					font-size: 56px;
					line-height: 1.1;
					
					@include media($tablet) {
						font-size: 46px;
					}
					
					@include media($mobile) {
						font-size: 30px;
						line-height: 1;
					}
				}
				
				.button-wrap {
					
					a {
						@include media($mobile) {
							padding: 4px 8px 4px;
							font-size: 10px;
							line-height: 16px;
							
							&:after {
								font-size: 10px;
							}
						}
					}
				}
			}
		}
		
		.home_hero_images {
			
			.home_hero_image {
				@include span-columns(4);
				@include omega(4n);
				position: absolute;
				float: none;
				height: 640px;
				display: none;
				opacity: 0.7;
				overflow: hidden;
				//transform: perspective(300px) rotateX(15deg);
				
				@include media($tablet) {
					height: 600px;
				}
			}
			
			#home_hero_image_1, #home_hero_image_4 {
				-ms-transform: skew(5deg,0); /* IE 9 */
				-webkit-transform: skew(5deg,0); /* Chrome, Safari, Opera */
				transform: skew(5deg,0);
			}
			
			#home_hero_image_2, #home_hero_image_3 {
				-ms-transform: skew(-5deg,0); /* IE 9 */
				-webkit-transform: skew(-5deg,0); /* Chrome, Safari, Opera */
				transform: skew(-5deg,0);
			}
			
			#home_hero_image_1 {
				left: 0;
				background-color: $shopPink;
			}
			
			#home_hero_image_2 {
				left: 20%;
				background-color: $orange;
			}
			
			#home_hero_image_3 {
				left: 40%;
				background-color: $aboutPurple;
			}
			
			#home_hero_image_4 {
				right: 0;
				background-color: $secondayBlue;
			}
		}
		
		/*&.hero_text_left {
			background-position: right 55% top;
			text-align: left;
		
			.hero_text {
				left: 0;
			}
		}
		
		&.hero_text_right {
			background-position: left 55% top;
			text-align: right;
			
			.hero_text {
				right: 0;
			}
		}*/
		
		.sign_up_offer {
			@include span-columns(12);
			position: absolute;
			bottom: 0;
			left: 0;
			color: $white;
			width: 103%;
			height: 120px;
			text-align: left;
			
			@include media($tablet) {
				height: 140px;
			}
			
			@include media($mobile) {
				display: none;
			}
		
		
			.sign_up_left {
				@include span-columns(7);
				margin-right: 0;
				height: 100%;
				padding: 20px 0;
				display: inline-block;
				
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em;
				}
				
				.sign_up_text {
					@include span-columns(8);
					@include shift(4);
					text-align: left;
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
			}
			
			.sign_up_right {
				@include span-columns(5);
				height: 100%;
				padding: 26px 26px 26px 26px;
				display: inline-block;
				
				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em;
				}
			
				.sign_up_newsletter {
					@include span-columns(12);
					text-align: left;
					float: none;
					display: inline-block;
					vertical-align: middle;
					
					.sailthru-widget-label {
						display: none;
					}
					
					input[type="text"] { 
						width: 62% !important;
						float: left;
						height: 30px;
						border: 0;
					}
					
						
					.input-group-btn {
						float: left;
					
						button { 
							background: #f7f7f2;
							border: none;
							padding: 5px 10px;
							color: $darkGray;
							height: 30px;
							text-transform: uppercase;
						}
							
						&:hover { 
							opacity: 0.5;
						}
					}
						
					::-webkit-input-placeholder {
						color: $darkGray;
						font-size: 10px;
						padding: 5px;
				   	}
				   		
				   	:-moz-placeholder { /* Firefox 18- */
					   	color: $darkGray;
						font-size: 10px;
						padding: 5px;
				   	}
				   		
				   	::-moz-placeholder { /* Firefox 19+ */
					   	color: $darkGray;
						font-size: 10px;
						padding: 5px;
				   	}
				   		
				   	:-ms-input-placeholder { 
					   	color: $darkGray;
						font-size: 10px;
						padding: 5px;
				   	}
					
				}
			}
			
			h3 {
				font-size: 26px;
				line-height: 28px;
				margin: 0;
			}
			
			p {
				font-size: 14px;
				line-height: 16px;
				margin: 10px 0 0;
			}
		}
		
		.home_offer {
			@include span-columns(5.5);
			height: 100%;
			
			img {
				@include span-columns(4);
				height: 100%;
			}
			
			.offer_text {
				@include span-columns(8);
				padding: 10px;
			}
			
			h3 {
				font-size: 20px;
				line-height: 22px;
				margin: 0;
			}
			
			p {
				font-size: 13px;
				line-height: 15px;
				margin: 10px 0 4px;
			}
			
			a {
				font-size: 13px;
				color: $white;
			}
		}
	}
	
	.mobile_home_menu {
		@include span-columns(12);
		display: none;
		
		@include media($mobile) {
			display: block;
		}
		
		ul {
			@include span-columns(12);
			
			li {
				@include span-columns(12);
				background-color: $veryLightGray;
				margin-bottom: 6px;
				padding-right: 2px;
				//height: 70px;
				
				.fa {
					line-height: 70px;
					color: $secondayBlue;
					cursor: pointer;
					position: absolute;
					right: 10px;
					top: 0;
					width: 60px;
					text-align: center;
					z-index: 100;
				}
				
				a, .mobile_sign_up_link {
					@include span-columns(12);
					color: $darkGray;
					height: 70px;
					font-size: 14px;
					
					img {
						float: left;
						height: 100%;
						width: 70px;
					}
					
					p {
						@include span-columns(9);
						margin-right: 0;
						padding: 10px 0 10px 10px;
						line-height: 50px;
					}
				}
			}
		}
		
		.mobile_shop_menu_container {
			@include span-columns(12);
			display: none;
		}
		
		.mobile_shop_menu {
			padding-left: 70px;
			
			li {
				margin: 0;
				padding-left: 30px;
				
				a {
					height: auto;
					color: $darkGray;
					
					p {
						padding: 2px 0;
						line-height: 30px;
						text-transform: lowercase;
					}
				}
				
				&:last-child {
					padding-bottom: 20px;
					
					a {
						color: $darkGray;
					}
				}
			}
		}
		
		.mobile_sign_up_link {
			cursor: pointer;
		}
		
		.mobile_sign_up {
			width: 100%;
			text-align: left;
			padding-bottom: 0;
			display: none;
			
			.newsletter_content {
				@include span-columns(12);
				width: 100%;
				margin-left: 70px;
				padding: 0 70px 0 30px;
				background-color: $veryLightGray;
				height: 100%;
			}
			
			h3 {
				margin-bottom: 10px;
			}
			
			p {
				font-size: 14px;
			}
			
			.newsletter_signup {
				margin-top: 4px;
				margin-bottom: 20px;
				text-align: left;
				
				.sailthru_shortcode {
					@include span-columns(12);
					@include shift(0);
				}
			}
		}
	}
	
	.product_highlight {
		@include span-columns(12);
		padding-bottom: 0px;
		
		@include media($tablet) {
			padding-bottom: 0px;
		}
		
		.product_highlight_wrap {
			
			@include media($tablet) {
				padding-bottom: 40px;
			}
			
			@include media($mobile) {
				padding-bottom: 0;
			}
		}
		
		.product_highlight_image {
			@include span-columns(6);
			z-index: 1;
			
				@include media($tablet) {
					width: 100%;
					display: block;
					}
					
				@include media($mobile) {
					width: 100%;
					display: block;
			
				}
	
			
			img {
			
			@include media($tablet) {
					width: 90%;
					
				}
				
				@include media($mobile) {
					width: 100%;
					
				}
			}
		}
		
		.product_highlight_info {
			@include span-columns(5);
			@include shift(1);
			margin-right: 0;
			display: inline-block;
			z-index: 1;
			
					@include media($tablet) {
			@include shift(0);
			width: 100%;
		}
			
			@include media($mobile) {
			display: block;
				width: 100%;
		}
			
			&:before {
				/* content: ''; */
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			
			h3 {
				font-size: 30px;
				margin-bottom: 10px;
				
				@include media($mobile) {
					font-size: 14px;
				}
			}
			
			h2 {
				font-size: 48px;
				line-height: 1.1;
				margin: 8px 0 20px;
				
				@include media($mobile) {
					font-size: 26px !important;
				}
			}
			
			p {
				font-size: 14px;
				
				@include media($mobile) {
					display: none;
				}
			}
			
			.button-wrap {
				margin-top: 20px;
								
				a {
					@include media($mobile) {
						padding: 4px 8px 4px;
						font-size: 16px;
						line-height: 16px;
						
						&:after {
							font-size: 10px;
						}
					}
				}
			}
		}
		
		.gray_bg_container {
			content: '';
			background-color: $lightestGray;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 25%;
			
			@include media($tablet) {
				height: 35.5%;
			}
			
			@include media($mobile) {
				display: none;
			}
		}
		
		&.product_text_left {
			background-position: right 55% top;
			text-align: left;
			
			.product_highlight_info {
				left: 0;
			}
		}
		
		&.product_text_right {
			background-position: left 55% top;
			text-align: left;
		}
	}
	
	.beyond_the_bottle_home {
		@include span-columns(12);
		background-color: $lightestGray;
		
		@include media($mobile) {
			background-color: $white;
		}
		
		/*.bottle_column {
			@include span-columns(4.15);
			margin-right: 0;
			height: 366px;
			
			img {
				height: 100%;
				width: 100%;
				max-width: 100%;
			}
		}*/
		
		.image_columns {
			text-align: center;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			
			@include media($mobile) {
				background-position: 50% 0;
				background-size: cover;
				height: 200px !important;
			}
			
			h3 {
				position: absolute;
				top: 50%;
				left: 35%;
				font-size: 34px;
				
				@include media($mobile) {
					position: relative;
					left: 17%;
					text-align: left;
					font-size: 24px;
					width: 50%;
				}
			}
		}
		
		.middle_column {
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			
			h3 {
				//@include span-columns(6);
				display: inline-block;
				vertical-align: middle;
				padding: 10px 30px;
				font-size: 39px;
				line-height: 41px;
				color: $white;
			}
			
			img {
				//@include span-columns(6);
				width: auto;
				height: auto;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		
		.three_column_section {
			margin: 0;
			padding-top: 40px;
			background-color: $lightestGray;
			text-align: center;
			
			.dotted_line {
				width: 100%;
				left: 0;
			}
			
			img {
				background: none;
			}
			
			.button-wrap {
				margin-top: 60px;
				text-align: center !important;
				float: none;
			}
			
			@include media($mobile) {
				display: none;
			}
		}
	}
	
	.video_section {
		@include span-columns(12);
		
		@include media($mobile) {
			min-height: 300px !important;
			margin-top: 10px;
		}
		
		img {
			width: 100%;
		}
		
		.overlay {
			@include clearfix;
			background-color: rgba(0,0,0, .8);
			display: none;
			z-index: 998;
			
			@include media($mobile) {
				display: none;
			}
		}
		
		.homepage-video {
			@include span-columns(12);
			display: none;
			position: absolute;
			top: 0%;
			z-index: 999;
			height: 600px;
			
			@include media($tablet) {
				//top: 45%;
				@include span-columns(8);
				display: none;
			}
			
			.video_container {
				height: 600px;
				
				iframe {
					height: 600px;
					
					@include media($overDesktop) {
						height: 85%;
					}
				}
			}
		}
		
		.close_button {
			position: absolute;
			left: 90%;
			font-size: 25px;
			font-weight: bold;
			top: 10%;
			display: none;
			cursor: pointer;
			z-index: 999;
		}
		
		.video_text {
			position: absolute;
			top: 40px;
			width: 80%;	
			left: 10%;
			text-align: center;
			
			h2 {
				font-size: 72px;
				line-height: 74px;
			}
			
			h3 {
				font-size: 40px;
				line-height: 42px;
			}
			
			@include media($mobile) {
				display: none;
			}
		}
		
		.desktop_video_play_button {
			width: auto;
			height: auto;
			cursor: pointer;
		}
		
		.video_play_button {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -105px;
			margin-left: -103px;
			width: auto;
			height: auto;
			cursor: pointer;
			
			@include media($tablet) {
				top: 55%;
			}
			
			@include media($mobile) {
				display: none;
			}
		}
		
		.mobile_video_overlay {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 14px 20px;
			display: none;
			
			@include media($mobile) {
				display: inline-block;
			}
			
			.mobile_video_info {
				@include span-columns(8);
				@include shift(0.5);
				float: none;
				display: inline-block;
				vertical-align: middle;
			}
			
			img {
				@include span-columns(2);
				//@include shift(1);
				float: none;
				position: relative;
				top: inherit;
				left: inherit;
				//width: 20%;
				margin: 0;
				@include shift(1);
				display: inline-block;
				vertical-align: middle;
			}
			
			h2, h3 {
				//float: left;
				color: $white;
				width: 100%;
				line-height: 1;
			}
			
			h2 {
				font-size: 18px;
			}
			
			h3 {
				font-size: 10px;
			}
		}
		
		.video_share {
			position: absolute;
			right: 20px;
			bottom: 20px;
			text-align: center;
			
			@include media($tablet) {
				bottom: 10px;
			}
			
			@include media($mobile) {
				display: none;
			}
		
			.share_text {
				margin: 4px 0;
				line-height: 1;
			}	
		}
		
		.addtoany_shortcode {
			display: block;
			clear: both;
			padding-top: 4px;
			
			
			.a2a_button_facebook {
				
				span {
					background: url('../images/facebook.png') no-repeat;
					width: 35px;
					height: 34px;
				}
			}
			
			.a2a_button_twitter {
				
				span {
					background: url('../images/twitter.png') no-repeat;
					width: 35px;
					height: 34px;
				}
			}
			
			.a2a_button_pinterest {
				
				span {
					background: url('../images/pinterest.png') no-repeat;
					width: 35px;
					height: 34px;
				}
			}
			
			.a2a_button_email {
				
				span {
					background: url('../images/email.png') no-repeat;
					width: 35px;
					height: 34px;
				}
			}
			
		}
	}
	
	.connect_to_clean {
		@include span-columns(12);
		padding: 40px 0;
		background-color: $lightestGray;
		text-align: center;
		
		@include media($mobile) {
			padding: 20px 0 30px;
		}
		
		h3 {
			font-size: 48px;
			line-height: 1.1;
			margin: 0 0 10px;
			
			@include media($mobile) {
				font-size: 36px;
			}
		}
		
		p {
			margin-bottom: 20px;
			
			@include media($mobile) {
				display: none;
			}
		}
		
		.social_media_container { 
			@include span-columns(12);
			text-align: center;
			
			a.twitter { 
				@include background-image(url("../images/twitter-icon.png"));
				background-repeat: no-repeat;
				background-size: 100% 100%;
				height: 70px;
				width: 70px;
				display: inline-block;
				font: 0/0 a;
				text-shadow: none;
				color: transparent;
				margin-right: 15px;
				&:hover {
					@include background-image(url("../images/twitter-hover.png"));
				}
				
				@include media($mobile) {
					width: 50px;
					height: 50px;
				}
			}
			
			 a.facebook {
			 	@extend a.twitter; 
				@include background-image(url("../images/facebook-icon.png"));
				&:hover {
					@include background-image(url("../images/facebook-hover.png"));
				}
			}
			
			a.instagram { 
				@extend a.twitter;
				@include background-image(url("../images/instagram-icon.png"));
				&:hover {
					@include background-image(url("../images/instagram-hover.png"));
				}
			}
			
			a.pintrest { 
				@extend a.twitter;
				@include background-image(url("../images/pintrest-icon.png"));
				margin-right: 0;
				&:hover {
					@include background-image(url("../images/pinterest-hover.png"));
				}
			}
		}
	}
	
	.fun_fact {
		@include span-columns(12);
		margin-top: 20px;
		padding: 30px 0;
		background-color: $lightestGray;
		text-align: center;
		display: inline-block;
		
		.container {
			height: 100%;
			//display: inline-block;
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
		}
		
		@include media($mobile) {
			padding: 10px 0;
			margin: 0;
		}
		
		img {
			@include span-columns(2.5);
			float: none;
			display: inline-block;
			vertical-align: middle;
			
			@include media($mobile) {
			vertical-align: top;
			}
		}
		
		.fun_fact_text {
			@include span-columns(9.3);
			margin-right: 0;
			text-align: left;
			float: none;
			display: inline-block;
			vertical-align: middle;
			
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
			
			@include media($mobile) {
				//@include shift(6);
				font-size: 12px;
			}
			
			h2 {
				display: inline-block;
				vertical-align: middle;
				font-size: 48px;
				line-height: 1.1;
				float: left;
				margin: 0;
				margin-bottom: 10px;
				
				@include media($mobile) {
					font-size: 26px;
				}
			}
			
			.fact_copy {
				display: inline-block;
				vertical-align: middle;
				float: right;
				
				@include media($mobile) {
					width: 100%;
				}
				
				p {
					@include span-columns(12);
					word-break: break-word;
				}
			}
		}
	}
}

.home_blog {
	@include span-columns(12);
	padding: 40px 0 20px;
	
	@include media($mobile) {
		padding: 20px 0;
	}
	
	.container {
	
		@include media($mobile) {
			padding: 0;
		}
	}
	
	img {
		@include span-columns(6);
		@include shift(0.5);
		
		@include media($tablet) {
			@include shift(0);
			display: block;
				width: 100%;
		}
		
		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
		}
	}
	
	.blog_info {
		@include span-columns(3);
		
		@include media($tablet) {
			width: 90%;
			@include shift(0.5);
		}
		
		@include media($mobile) {
			@include span-columns(4);
			padding: 0 20px;
		}
		
		h3 {
			font-size: 18px;
			line-height: 1.1;
			
			@include media($mobile) {
				font-size: 14px;
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
		
		h2 {
			font-size: 48px;
			line-height: 1.1;
			
			@include media($mobile) {
				font-size: 26px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		
		p {
			font-size: 14px;
			
			@include media($mobile) {
				display: none;
			}
		}
		
		.button-wrap {
			margin-top: 20px;
			
			@include media($mobile) {
				
				margin-right: 0;
				float: none;
				
			}
		}
	}
}