.press_hero {
	
	h1 {
		
	}
}

.press_room {

	.accordion_header {

		@include media($mobile) {
			min-height: inherit;
			height: 60px;
			max-height: 60px;
		
			.accordion_image {
				margin-left: 0;
				height: 80px;
				
				img {
					top: 0;
					padding: 10px 0;
					height: 100%;
				}
			}
			
			.header_copy {
				
				h3 {
					color: $darkGray;
					font-size: 18px;
				}
				
				p {
					display: none;
				}
			}
		}
	}
	
	.accordion_content {
		
		@include media($mobile) {
			padding: 0;
		}
	}
}

.press_articles_section {
	@include span-columns(12);
	text-align: left;
	
	> p {
		@include span-columns(12);
		padding: 0 0 20px;
	}
	
	.press_row {
		@include span-columns(12);
		padding: 40px 0;
		border-bottom: 2px solid $lightGray;
		
		@include media($mobile) {
			border: 0;
		}
		
		&:last-of-type {
			border: 0;
		}
		
		&.press_release_row {
			border: 0;
		}
	}
	
	.press_row_divider {
		@include span-columns(12);
		height: 2px;
		background-color: $lightGray;
		margin: 40px 0;
		
		@include media($tablet) {
			display: none;
		}
	}
	
	.press_article {
		@include span-columns(2.4);
		padding-bottom: 10px;
		
		&:nth-of-type(5n) {
			margin-right: 0;
		}
		
		@include media($tablet) {
			@include span-columns(4);
			
			&:nth-of-type(5n) {
				margin-right: 3.57866%;
			}
			
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
		
		@include media($mobile) {
			@include span-columns(4);
		}
		
		h3 {
			@include span-columns(12);
			color: $lightGray;
			font-size: 17px;
			@include avenirNextLight;
			text-transform: lowercase;
			line-height: 1.2;
			margin: 0 0 10px;
			
			&:hover {
				color: darken($lightGray, 10%);
			}
		}
		
		a {
			@include span-columns(12);
			color: $lightGray;
			font-size: 15px;
			@include avenirNextMed;
			
			&:hover {
				color: darken($lightGray, 10%);
			}
			
			@include media($mobile) {
				float: right;
			}
		}
		
		.article_image {
			
			@include media($mobile) {
				//display: none;
				@include span-columns(1);
				margin-right: 0;
				
				img {
					height: auto;
					margin: 0;
				}
			}
		}
		
		.article_title {
			
			@include media($mobile) {
				@include span-columns(2.8);
				float: right;
				vertical-align: middle;
			}
		}
		
		.article_download {
			
			@include media($mobile) {
				display: none;
			}
		}
		
		img {
			margin: 10px 0;
		}
		
		p {
			@include span-columns(12);
			
			@include media($mobile) {
				display: none;
			}
		}
		
		&.press_release {
			//border-bottom: 2px solid $lightGray;
			margin-bottom: 20px;
			
			@include media($mobile) {
				border: 0;
			}
		}
		
		&.press_hit {
		
			@include media($mobile) {
				text-align: left;
			}
			
			h3 {
				text-transform: none;
			}
		}
	}
}